- images = ["http://www.travelettes.net/wp-content/uploads/2014/03/chiang-mai-night-market.jpg",
            "http://ubyssey.ca/wp-content/uploads/2014/07/Michael-Kalus-_-Richmond-night-Market.jpg",
            "http://www.formosatravel.net/images/stories/taiwan/article_images/taiwans-night-market01.jpg",
            "http://upload.wikimedia.org/wikipedia/commons/5/57/Liouho-Night-Market-Kaohsiung.jpg",
            "http://www.upmagazine.com/files/story_articles/Richond%20night%20market.jpg"]

%h1 Welcome to the Night Market
= image_tag images.sample, width: 1000
