<body>
  <div id="page">
    <header id="header" class="site-header">

      <nav id="navbar" class="site-navbar navbar navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-bars"></i>
            </button>
            <h1 class="navbar-brand"><img src="assets/village_hut.png" alt=""/><a href="#header">Village Market</a></h1>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul id="navigation" class="nav navbar-nav navbar-right">
              <li class="active"><a href="#header" class="current">Home</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#testimonials">Testimonials</a></li>
              <li><a href="#pricing">Price</a></li>
              <li><a href="#blog">Team</a></li>
              <li><a href="#footer">Contact</a></li>
              <li>______</li>
              <li><a href="/signin" class="external">Sign In</a></li>
              <li><a href="/signup" class="external">Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main id="main" class="site-main">

      <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active" style="background: url(assets/background/italy_wide_dark.jpg);">
            <div class="container"><img src="assets/background/hero_text_1.png" alt="First slide"></div>
          </div>
          <!--<div class="item" style="background: url(assets/background/sri_lanka_wide_dark_2.jpg);">-->
            <!--<div class="container"><img src="assets/background/hero_text_3.png" alt="Third slide"></div>-->
          <!--</div>-->
        </div>
        <!--turning off carousel feature-->
        <!--<a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>-->
        <!--<a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>-->
      </section>

      <section class="section section-center section-cta">
        <div class="container">
          <h2 class="section-title"><span>Ready to Start?</span></h2>
          <h3>Village Market is an online food planning tool. It was born out of organizing food for dozens of <a class="text-primary" href="http://www.startupweekend.com">Startup Weekend</a> events. It's hard planning seven meals over three days. There are hundreds of things than need to happen to make an event successful. We are here to help. We've been there.</h3>
          <div class="main-action row">
            <div class="col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2"><a href="signup" class="smooth-scroll btn btn-lg btn-block btn-danger">Sign Up</a></div>
            <div class="col-md-3 col-sm-4"><a href="/signin" class="smooth-scroll btn btn-lg btn-block btn-default">Log In</a></div>
          </div>
        </div>
      </section>

      <!--Kinda a hack. Just using carousel as a full width banner so I don't have to learn how it's css works.-->
      <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active" style="background: url(assets/background/stockholm_wide_dark_2.jpg);">
            <div class="container"><img src="assets/background/hero_text_2.png" alt="First slide"></div>
          </div>
        </div>
      </section>

      <section id="features" class="section section-center section-features">
        <div class="container">
          <h2 class="section-title"><span>How it works?</span></h2>
          <div class="row">

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/letter.png" alt=""></div>
              <h4>Events and Meals</h4>
              <p>List out your events and meals to keep track of what you're serving. Track food preferences and head count.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/calculator.png" alt=""></div>
              <h4>Budgets and Costs</h4>
              <p>Keep track of how much you are spending. We'll warn you if you are over budget. See meal and person costs.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/clock.png" alt=""></div>
              <h4>Scheduling</h4>
              <p>Timing is everything when it comes to food. Keep track of delivery and pickup times.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/comments.png" alt=""></div>
              <h4>Recommendations</h4>
              <p>We've designed this app to show you what works and warn you about common pitfalls.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/bag.png" alt=""></div>
              <h4>Supplies</h4>
              <p>Don't forget plates, fork and napkins. Keep track of all the supplies you'll need for the event.</p>
            </div>

            <div class="col-md-4 col-sm-6">
              <div class="icon-wrap"><img src="assets/flat-icons/book.png" alt=""></div>
              <h4>Vendors</h4>
              <p>Access a growing database of food vendors used by other events in your area (coming soon).</p>
            </div>

          </div>
        </div>
      </section>

      <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active" style="background: url(assets/background/spain_wide_dark_2.jpg);">
            <div class="container"><img src="assets/background/hero_text_3.png" alt="First slide"></div>
          </div>
        </div>
      </section>

      <section id="testimonials" class="section section-center section-testimonial">
        <div class="container">
          <h2 class="section-title"><span>What are people saying?</span></h2>
          <i class="fa fa-quote-left fa-3x"></i>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <blockquote>
                  <p>The site is free. Whats the worst that could happen? </p>
                  <small>Teresa <cite title="Source Title"> (site creator)</cite></small>
                </blockquote>
              </div>
              <div class="item">
                <blockquote>
                  <p>One of the top 10 websites I've ever used. Solves all my problems, gives me peace of mind and combats greenhouse gases.</p>
                  <small>David<cite title="Source Title"> (site creator)</cite></small>
                </blockquote>
              </div>
              <div class="item">
                <blockquote>
                  <p>Meow meow meow, thumbs up, meow meow.</p>
                  <small>Dusty <cite title="Source Title"> (Teresa's Cat)</cite></small>
                </blockquote>
              </div>
            </div>

            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"><img src="assets/profiles/teresa.jpg" width="64" height="64" alt="" class="img-circle"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"><img src="assets/profiles/david.jpg" width="64" height="64" alt="" class="img-circle"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"><img src="assets/profiles/dusty.jpg" width="64" height="64" alt="" class="img-circle"></li>
            </ol>
          </div>

        </div>
      </section>

      <section id="pricing" class="section section-center section-hilite section-pricing">
        <div class="container">
          <h2 class="section-title"><span>Pricing Table Made Easy</span></h2>
          <div class="pricing-table">
            <div class="row">

              <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-primary">
                  <header class="panel-heading">
                    <h1>Free</h1>
                    <div class="the-price">$0 <span class="subscript">/ month</span></div>
                  </header>
                  <div class="panel-body">
                    <table class="table">
                      <tbody>
                        <tr><td>1 Account</td></tr>
                        <tr class="active"><td>Create Unlimited Events</td></tr>
                        <tr><td>Watch Costs</td></tr>
                        <tr class="active"><td>Manage Food Preferences</td></tr>
                        <tr><td>Track Supplies</td></tr>
                        <tr class="active"><td>Be a Hero!!!</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <footer class="panel-footer"><a href="/signup" class="btn btn-primary">Sign up now</a></footer>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>

      <section id="blog" class="section section-blog">
        <div class="container">
          <h2 class="section-title"><span>Creators</span></h2>
          <div class="row">
            <div class="col-md-6">
              <article class="hentry post">
                <div class="row">
                  <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                    <a href="https://github.com/dladowitz" class="hover-effect">
                      <img src="assets/profiles/david.jpg" alt="" />
                      <span class="overlay"><i class="fa fa-plus"></i></span>
                    </a>
                  </div>
                  <div class="col-lg-8 col-md-7 col-sm-8">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="https://github.com/dladowitz">David</a></h2>
                      <!--<div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>-->
                    </header>
                    <div class="entry-content">
                      <p>David is a software developer by day. He's organized a number of tech workshops and conferences including Startup Weekend. He works part time at <a class="text-primary" href="http://littlecatcatering.com/">Little Cat Catering</a> with Teresa.</p>
                      <!--<a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>-->
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <div class="col-md-6">
              <article class="hentry post">
                <div class="row">
                  <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                    <a href="https://github.com/terhuang" class="hover-effect">
                      <img src="assets/profiles/teresa_tahoe.jpg" alt="" />
                      <span class="overlay"><i class="fa fa-plus"></i></span>
                    </a>
                  </div>
                  <div class="col-lg-8 col-md-7 col-sm-8">
                    <header class="entry-header">
                      <h2 class="entry-title"><a href="https://github.com/terhuang">Teresa</a></h2>
                      <!--<div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div>-->
                    </header>
                    <div class="entry-content">
                      <p>Teresa owns and runs <a class="text-primary" href="http://littlecatcatering.com/">Little Cat Catering</a>. She's provided food for many workshops, conferences, and businesses in both San Francisco and Los Angeles. She has been helping cater Startup Weekend events since 2012.</p>
                      <!--<a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>-->
                    </div>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>



    </main>

    <footer id="footer" class="site-footer">
      <div class="container">

        <div id="sidebar-footer-1">
          <div class="row">

            <aside class="widget col-md-3 col-md-push-3 col-sm-6">
              <h5 class="widget-title">Contact us</h5>
              <p>Tell us what you think or connect with us at <a href="mailto:david@littlecatcatering.com?Subject=The Village Market">david@littlecatcatering.com</a></p>
            </aside>

            <aside class="widget col-md-3 col-md-push-3 col-sm-6">
              <h5 class="widget-title">Need Help?</h5>
              <p>Want some help or feeling overwhelmed with your event. We are always willing to talk to folks and share our knowledge. </p>
            </aside>

          </div>
        </div>

        <div class="copyright"><p>© 2015 Little Cat Labs.<br /></div>
      </div>
    </footer>
  </div>

  <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>

  <!--TODO Move to JS manifest-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap_start_theme/bootstrap-3.1.1.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap_start_theme/jquery.isotope.min.js?v=1.5.26"></script>
  <script type="text/javascript" src="assets/bootstrap_start_theme/jquery.singlePageNav.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap_start_theme/main.js"></script>
</body>
