!!! 5
%html(lang="en-US")
  %head
    %title Night Market
    = stylesheet_link_tag    'bootstrap_start_theme/landing', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    = yield


