%h1.mb80
  .col-sm-4
    %span
      Costs for
      = link_to @event.name, event_path(@event)
  .col-sm-8
    %span.fsize-25
      Total Cost:
      = link_to number_to_currency(@event.current_spend, precision: 0), event_costs_path(@event)


%br
%br

Items:
- if @cost_items.present?
  %ul
  - @cost_items.each do |item|
    %li
      = item.class == Supply ? item.name : item.category
      = number_to_currency(item.cost, precision: 0)
