- if @event && @event.id
  %li
    %a{href: event_meals_path(@event)}
      %i.menu-icon.fa.fa-tag
      %span.menu-text Meals
    %b.arrow
  %li
    %a{:href => event_supplies_path(@event)}
      %i.menu-icon.fa.fa-picture-o
      %span.menu-text Supplies
    %b.arrow
  %li
    %a{:href => event_costs_path(@event)}
      %i.menu-icon.fa.fa-calendar
      %span.menu-text Costs
    %b.arrow
- else
  %li.disabled
    %a{href: "#"}
      %i.menu-icon.fa.fa-tag
      %span.menu-text Meals
    %b.arrow
  %li.disabled
    %a{:href => "#"}
      %i.menu-icon.fa.fa-picture-o
      %span.menu-text Supplies
    %b.arrow
  %li.disabled
    %a{:href => "#"}
      %i.menu-icon.fa.fa-calendar
      %span.menu-text Costs
    %b.arrow
