#sidebar.sidebar.responsive
  :javascript
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}

  %ul.nav.nav-list
    %li
      %a{:href => "/events"}
        %i.menu-icon.fa.fa-tachometer
        %span.menu-text Events
      %b.arrow
    - if current_user.admin?
      %li
        %a{:href => users_path}
          %i.menu-icon.fa.fa-desktop
          %span.menu-text Users
        %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-tag
        %span.menu-text Meals
      %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-picture-o
        %span.menu-text Supplies
      %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-calendar
        %span.menu-text Costs
      %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-list-alt
        %span.menu-text Task Lists
      %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-pencil-square-o
        %span.menu-text Vendors
      %b.arrow
    %li
      %a{:href => "gallery.html"}
        %i.menu-icon.fa.fa-list
        %span.menu-text Recommendations
      %b.arrow

    .sidebar-toggle.sidebar-collapse#sidebar-collapse
      %i{class:"ace-icon fa fa-angle-double-left", data: {icon1: "ace-icon fa fa-angle-double-left"}, data: {icon2: "ace-icon fa fa-angle-double-right"}}
